<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- ************************ACTION类************************************* -->
	<!--========================= 客服咨询 begin=================================== -->
	<!-- 咨询  ActionClass -->
	<bean id="c301Action" class="cn.com.softvan.web.action.consult.C301Action" parent="baseAction" scope="prototype">
		<property name="consultManager" ref="consultManager"></property>
		<property name="consultMsgManager" ref="consultMsgManager"></property>
		<property name="customerServiceManager" ref="customerServiceManager"></property>
		<property name="tcWxPublicUserManager" ref="tcWxPublicUserManager"></property>
	</bean>
	<!-- 咨询 信息记录 ActionClass -->
	<bean id="c302Action" class="cn.com.softvan.web.action.consult.C302Action" parent="baseAction" scope="prototype">
		<property name="consultManager" ref="consultManager"></property>
		<property name="consultMsgManager" ref="consultMsgManager"></property>
		<property name="tcWxPublicUserManager" ref="tcWxPublicUserManager"></property>
	</bean>
	<!--========================= 客服咨询 end=================================== -->
</beans>
