<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- ************************ACTION类************************************* -->
	 <!-- action基类 -->
	<bean id="baseAction" class="cn.com.softvan.web.action.BaseAction" scope="prototype">
		<!-- <property name="userLogsManager" ref="userLogsManager"></property> -->
		<property name="jedisHelper" ref="jedisHelper"></property>
		<property name="taskExecutor" ref="taskExecutor"></property>
		<property name="variableManager" ref="variableManager"></property>
	</bean>
	<!-- 行政区划 管理 -->
	<bean id="areaAction" class="cn.com.softvan.web.action.adi.AreaAction" parent="baseAction" scope="prototype">
		<property name="areaManager" ref="areaManager"></property>
	</bean>
</beans>
