<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:jee="http://www.springframework.org/schema/jee"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/jee 
		http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">
		<!-- ****************************dao*************************************** -->
		<bean id="tcCourseDao" parent="baseDao">
			<property name="mapperInterface" value="cn.com.softvan.dao.daointer.course.ITcCourseDao"></property>
		</bean>
		<bean id="tcCourseSyllabusDao" parent="baseDao">
			<property name="mapperInterface" value="cn.com.softvan.dao.daointer.course.ITcCourseSyllabusDao"></property>
		</bean>
		<bean id="tcCourseSyllabusItemsDao" parent="baseDao">
			<property name="mapperInterface" value="cn.com.softvan.dao.daointer.course.ITcCourseSyllabusItemsDao"></property>
		</bean>
		<bean id="tcCourseBespeakDao" parent="baseDao">
			<property name="mapperInterface" value="cn.com.softvan.dao.daointer.course.ITcCourseBespeakDao"></property>
		</bean>
		<bean id="tcCourseSyllabusPhotoDao" parent="baseDao">
			<property name="mapperInterface" value="cn.com.softvan.dao.daointer.course.ITcCourseSyllabusPhotoDao"></property>
		</bean>
		<bean id="tcCourseWebEnrollDao" parent="baseDao">
			<property name="mapperInterface" value="cn.com.softvan.dao.daointer.course.ITcCourseWebEnrollDao"></property>
		</bean>
		<!-- ==========daointer class===begin======= -->
		<!-- 课程与班级关联关系 数据库处理接口类	 -->
		<bean id="tcCourseVsClassesDao" parent="baseDao">
			<property name="mapperInterface" value="cn.com.softvan.dao.daointer.course.ITcCourseVsClassesDao"></property>
		</bean>
		<!-- ==========daointer class===end======= -->
		<!-- ************************业务处理类************************************* -->
		<bean id="courseManager" class="cn.com.softvan.service.course.impl.CourseManager" parent="baseManager" scope="prototype">
			<property name="tcCourseDao" ref="tcCourseDao"></property>
		</bean>
		<bean id="courseSyllabusManager" class="cn.com.softvan.service.course.impl.CourseSyllabusManager" parent="baseManager" scope="prototype">
			<property name="tcCourseSyllabusDao" ref="tcCourseSyllabusDao"></property>
			<property name="tcCourseSyllabusItemsDao" ref="tcCourseSyllabusItemsDao"></property>
		</bean>
		<bean id="courseSyllabusItemsManager" class="cn.com.softvan.service.course.impl.CourseSyllabusItemsManager" parent="baseManager" scope="prototype">
			<property name="tcCourseSyllabusItemsDao" ref="tcCourseSyllabusItemsDao"></property>
		</bean>
		<bean id="courseBespeakManager" class="cn.com.softvan.service.course.impl.CourseBespeakManager" parent="baseManager" scope="prototype">
			<property name="tcCourseBespeakDao" ref="tcCourseBespeakDao"></property>
		</bean>
		<bean id="courseSyllabusPhotoManager" class="cn.com.softvan.service.course.impl.CourseSyllabusPhotoManager" parent="baseManager" scope="prototype">
			<property name="tcCourseSyllabusPhotoDao" ref="tcCourseSyllabusPhotoDao"></property>
		</bean>
		<bean id="courseWebEnrollManager" class="cn.com.softvan.service.course.impl.CourseWebEnrollManager" parent="baseManager" scope="prototype">
			<property name="tcCourseWebEnrollDao" ref="tcCourseWebEnrollDao"></property>
			<property name="smsManager" ref="smsManager"></property>
		</bean>
</beans>
