<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:jee="http://www.springframework.org/schema/jee"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/jee 
		http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">
	<!-- 系统管理 dao begin -->
	<bean id="tcSysEmailDao" parent="baseDao">
		<property name="mapperInterface" value="cn.com.softvan.dao.daointer.sys.ITcSysEmailDao"></property>
	</bean>
	<bean id="tcSysNewsDao" parent="baseDao">
		<property name="mapperInterface" value="cn.com.softvan.dao.daointer.sys.ITcSysNewsDao"></property>
	</bean>
	<bean id="tcSysSmsDao" parent="baseDao">
		<property name="mapperInterface" value="cn.com.softvan.dao.daointer.sys.ITcSysSmsDao"></property>
	</bean>
	<bean id="tcSysVariableDao" parent="baseDao">
		<property name="mapperInterface" value="cn.com.softvan.dao.daointer.sys.ITcSysVariableDao"></property>
	</bean>
	<bean id="tcSysInterfaceLogDao" parent="baseDao">
		<property name="mapperInterface" value="cn.com.softvan.dao.daointer.sys.ITcSysInterfaceLogDao"></property>
	</bean>
	<bean id="tcSysNewsTypeDao" parent="baseDao">
		<property name="mapperInterface" value="cn.com.softvan.dao.daointer.sys.ITcSysNewsTypeDao"></property>
	</bean>
	<bean id="tcSysNewsVsTypeDao" parent="baseDao">
		<property name="mapperInterface" value="cn.com.softvan.dao.daointer.sys.ITcSysNewsVsTypeDao"></property>
	</bean>
	<bean id="tcSysParterDao" parent="baseDao">
		<property name="mapperInterface" value="cn.com.softvan.dao.daointer.sys.ITcSysParterDao"></property>
	</bean>
	<!-- 系统管理 dao end -->
	<!-- ************************业务处理类************************************* -->
	<!-- 系统管理 begin -->
	<!-- 资讯管理 -->
	<bean id="newsManager" class="cn.com.softvan.service.sys.impl.NewsManager" scope="prototype">
		<property name="tcSysNewsDao" ref="tcSysNewsDao"></property>
		<property name="tcSysNewsVsTypeDao" ref="tcSysNewsVsTypeDao"></property>
	</bean>
	<!-- 资讯 分类 管理 -->
	<bean id="newsTypeManager" class="cn.com.softvan.service.sys.impl.NewsTypeManager" scope="prototype">
		<property name="tcSysNewsTypeDao" ref="tcSysNewsTypeDao"></property>
	</bean>
	<!-- 友情链接 管理 -->
	<bean id="parterManager" class="cn.com.softvan.service.sys.impl.ParterManager" scope="prototype">
		<property name="tcSysParterDao" ref="tcSysParterDao"></property>
	</bean>
	<!-- 数据字典 管理 -->
	<bean id="variableManager" class="cn.com.softvan.service.sys.impl.VariableManager" scope="prototype">
		<property name="tcSysVariableDao" ref="tcSysVariableDao"></property>
	</bean>
	<!-- 系统管理 end -->
</beans>
