<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
		<!-- 这个配置使全局的映射器启用或禁用缓存 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 全局启用或禁用延迟加载。当禁用时，所有关联对象都会即时加载 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 当启用时，有延迟加载属性的对象在被调用时将会完全加载任意属性。否则，每种属性将会按需要加载 -->
		<setting name="aggressiveLazyLoading" value="false" />
		<!-- 允许或不允许多种结果集从一个单独的语句中返回（需要适合的驱动） -->
		<setting name="multipleResultSetsEnabled" value="true" />
		<!-- 使用列标签代替列名。不同的驱动在这方便表现不同。参考驱动文档或充分测试两种方法来决定所使用的驱动 -->
		<setting name="useColumnLabel" value="true" />
		<!-- 允许JDBC支持生成的键。需要适合的驱动。如果设置为true则这个设置强制生成的键被使用，尽管一些驱动拒绝兼容但仍然有效（比如Derby） -->
		<setting name="useGeneratedKeys" value="true" />
		<!-- 指定MyBatis如何自动映射列到字段/属性。PARTIAL只会自动映射简单，没有嵌套的结果。FULL会自动映射任意复杂的结果（嵌套的或其他情况） -->
		<setting name="autoMappingBehavior" value="FULL" />
		<!-- 配置默认的执行器。SIMPLE执行器没有什么特别之处。REUSE执行器重用预处理语句。BATCH执行器重用语句和批量更新 -->
		<setting name="defaultExecutorType" value="REUSE" />
		<!-- 设置超时时间，它决定驱动等待一个数据库响应的时间 -->
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>
	<typeAliases>
		<!-- 行政区划 begin -->
		<typeAlias type="cn.com.softvan.bean.adi.AreaBean" alias="AreaBean"/>
		<!-- 行政区划 end -->
		<!-- 微信后台模块 begin--> 
		<!-- bean class -->
		<typeAlias type="cn.com.softvan.bean.wechat.TcWxMenuBean" alias="tcWxMenuBean"/>
		<typeAlias type="cn.com.softvan.bean.wechat.TcWxPublicUserBean" alias="tcWxPublicUserBean"/>
		<typeAlias type="cn.com.softvan.bean.wechat.TcWxInfoBean" alias="tcWxInfoBean"/>
		<typeAlias type="cn.com.softvan.bean.wechat.TcWxUserBean" alias="tcWxUserBean"/>
		<typeAlias type="cn.com.softvan.bean.wechat.TcWxUserGroupsBean" alias="tcWxUserGroupsBean"/>
		<!-- entity class -->
		<typeAlias type="cn.com.softvan.dao.entity.wechat.TcWxMenu" alias="tcWxMenu"/>
		<typeAlias type="cn.com.softvan.dao.entity.wechat.TcWxPublicUser" alias="tcWxPublicUser"/>
		<typeAlias type="cn.com.softvan.dao.entity.wechat.TcWxInfo" alias="tcWxInfo"/>
		<typeAlias type="cn.com.softvan.dao.entity.wechat.TcWxUser" alias="tcWxUser"/>
		<typeAlias type="cn.com.softvan.dao.entity.wechat.TcWxUserGroups" alias="tcWxUserGroups"/>
		<!-- 微信后台模块 end--> 
		
		<!-- 系统管理模块 begin -->
		<!-- bean class -->
		<typeAlias type="cn.com.softvan.bean.sys.TcSysNewsBean" alias="tcSysNewsBean"/>
		<typeAlias type="cn.com.softvan.bean.sys.TcSysNewsTypeBean" alias="tcSysNewsTypeBean"/>
		<typeAlias type="cn.com.softvan.bean.sys.TcSysParterBean" alias="tcSysParterBean"/>
		<typeAlias type="cn.com.softvan.bean.sys.TcSysVariableBean" alias="tcSysVariableBean"/>
		<typeAlias type="cn.com.softvan.bean.sys.TcSysTelBookBean" alias="tcSysTelBookBean"/>
		<typeAlias type="cn.com.softvan.bean.sys.TcSysSmsBean" alias="tcSysSmsBean"/>
		<!-- entity class -->
		<typeAlias type="cn.com.softvan.dao.entity.sys.TcSysNews" alias="tcSysNews"/>
		<typeAlias type="cn.com.softvan.dao.entity.sys.TcSysNewsType" alias="tcSysNewsType"/>
		<typeAlias type="cn.com.softvan.dao.entity.sys.TcSysNewsVsType" alias="tcSysNewsVsType"/>
		<typeAlias type="cn.com.softvan.dao.entity.sys.TcSysParter" alias="tcSysParter"/>
		<typeAlias type="cn.com.softvan.dao.entity.sys.TcSysVariable" alias="tcSysVariable"/>
		<typeAlias type="cn.com.softvan.dao.entity.sys.TcSysTelBook" alias="tcSysTelBook"/>
		<typeAlias type="cn.com.softvan.dao.entity.sys.TcSysSms" alias="tcSysSms"/>
		<!-- 系统管理模块 end -->
		<!-- 课程管理 begin -->
		<!-- bean class -->
		<typeAlias type="cn.com.softvan.bean.course.TcCourseBean" alias="tcCourseBean"/>
		<typeAlias type="cn.com.softvan.bean.course.TcCourseSyllabusBean" alias="tcCourseSyllabusBean"/>
		<typeAlias type="cn.com.softvan.bean.course.TcCourseSyllabusItemsBean" alias="tcCourseSyllabusItemsBean"/>
		<typeAlias type="cn.com.softvan.bean.course.TcCourseBespeakBean" alias="tcCourseBespeakBean"/>
		<typeAlias type="cn.com.softvan.bean.course.TcCourseSyllabusPhotoBean" alias="tcCourseSyllabusPhotoBean"/>
		<typeAlias type="cn.com.softvan.bean.course.TcCourseWebEnrollBean" alias="tcCourseWebEnrollBean"/>
		<!-- entity class -->
		<typeAlias type="cn.com.softvan.dao.entity.course.TcCourse" alias="tcCourse"/>
		<typeAlias type="cn.com.softvan.dao.entity.course.TcCourseSyllabus" alias="tcCourseSyllabus"/>
		<typeAlias type="cn.com.softvan.dao.entity.course.TcCourseSyllabusItems" alias="tcCourseSyllabusItems"/>
		<typeAlias type="cn.com.softvan.dao.entity.course.TcCourseBespeak" alias="tcCourseBespeak"/>
		<typeAlias type="cn.com.softvan.dao.entity.course.TcCourseSyllabusPhoto" alias="tcCourseSyllabusPhoto"/>
		<typeAlias type="cn.com.softvan.dao.entity.course.TcCourseWebEnroll" alias="tcCourseWebEnroll"/>
		<!-- 课程管理 eng -->
		<!-- 会员管理 begin -->
		<!-- bean class -->
		<typeAlias type="cn.com.softvan.bean.member.TcMemberBean" alias="tcMemberBean"/>
		<!-- entity class -->
		<typeAlias type="cn.com.softvan.dao.entity.member.TcMember" alias="tcMember"/>
		<typeAlias type="cn.com.softvan.dao.entity.member.TcMemberVsStudent" alias="tcMemberVsStudent"/>
		<!-- 会员管理 end -->
		<!-- 学员管理 begin -->
		<!-- bean class -->
		<typeAlias type="cn.com.softvan.bean.student.TcStudentBean" alias="tcStudentBean"/>
		<typeAlias type="cn.com.softvan.bean.student.TcStudentHobbyItemsBean" alias="tcStudentHobbyItemsBean"/>
		<!-- entity class -->
		<typeAlias type="cn.com.softvan.dao.entity.student.TcStudent" alias="tcStudent"/>
		<typeAlias type="cn.com.softvan.dao.entity.student.TcStudentHobbyItems" alias="tcStudentHobbyItems"/>
		<!-- 学员管理 end -->
		<!-- 客服咨询 begin -->
		<!-- bean class  -->
		<typeAlias type="cn.com.softvan.bean.consult.TcCsConsultBean" alias="tcCsConsultBean"/>
		<typeAlias type="cn.com.softvan.bean.consult.TcCsConsultMsgBean" alias="tcCsConsultMsgBean"/>
		<typeAlias type="cn.com.softvan.bean.customerservice.TcCsCustomerServiceBean" alias="tcCsCustomerServiceBean"/>
		<!-- entity class -->
		<typeAlias type="cn.com.softvan.dao.entity.consult.TcCsConsult" alias="tcCsConsult"/>
		<typeAlias type="cn.com.softvan.dao.entity.consult.TcCsConsultMsg" alias="tcCsConsultMsg"/>
		<typeAlias type="cn.com.softvan.dao.entity.customerservice.TcCsCustomerService" alias="tcCsCustomerService"/>
		<!-- 客服咨询    end -->
		<!-- 评论管理 begin -->
		<!-- bean class -->
		<typeAlias type="cn.com.softvan.bean.comment.TcCommentBean" alias="tcCommentBean"/>
		<!-- entity class -->
		<typeAlias type="cn.com.softvan.dao.entity.comment.TcComment" alias="tcComment"/>
		<!-- 评论管理 end -->
		<!-- 用户角色  begin-->
		 <!-- bean class  -->
		<typeAlias type="cn.com.softvan.bean.backuser.TcUaUmBaseUserBean" alias="tcUaUmBaseUserBean"/>
		<typeAlias type="cn.com.softvan.bean.backuser.TcUaUmBaseRoleBean" alias="tcUaUmBaseRoleBean"/>
		 <!-- entity class -->
		<typeAlias type="cn.com.softvan.dao.entity.user.TcUaUmBaseUser" alias="tcUaUmBaseUser"/>
		<typeAlias type="cn.com.softvan.dao.entity.user.TcUaUmBaseRole" alias="tcUaUmBaseRole"/>
		<!-- 用户角色  end-->
		<!-- 班级管理 begin -->
		<!--============= bean class==begin========= -->
		<!-- 班级信息表 bean -->
		<typeAlias type="cn.com.softvan.bean.classes.TcClassesBean" alias="tcClassesBean"/>
		<!-- 班级_学员关联表 bean -->
		<typeAlias type="cn.com.softvan.bean.classes.TcClassesVsStudentBean" alias="tcClassesVsStudentBean"/>
		<!--=========== entity class====begin======= -->
		<!-- 班级信息表 entity -->
		<typeAlias type="cn.com.softvan.dao.entity.classes.TcClasses" alias="tcClasses"/>
		<!-- 班级_学员关联表 entity -->
		<typeAlias type="cn.com.softvan.dao.entity.classes.TcClassesVsStudent" alias="tcClassesVsStudent"/>
		<!-- 课程与班级关联关系 bean -->
		<typeAlias type="cn.com.softvan.bean.course.TcCourseVsClassesBean" alias="tcCourseVsClassesBean"/>
		<!--============= bean class==end========= -->
		<!--=========== entity class====begin======= -->
		<!-- 课程与班级关联关系 entity -->
		<typeAlias type="cn.com.softvan.dao.entity.course.TcCourseVsClasses" alias="tcCourseVsClasses"/>
		<!--=========== entity class====end======= -->
		<!-- 班级管理 end -->
		<!-- 课程地址 begin -->
		<!--============= bean class==begin========= -->
		<!-- 课程地址信息表 bean -->
		<typeAlias type="cn.com.softvan.bean.addres.TcAddresBean" alias="tcAddresBean"/>
		<!-- 课程_上课地点关联关系 bean -->
		<typeAlias type="cn.com.softvan.bean.addres.TcCourseVsAddresBean" alias="tcCourseVsAddresBean"/>
		<!--============= bean class==end========= -->
		<!--=========== entity class====begin======= -->
		<!-- 课程地址信息表 entity -->
		<typeAlias type="cn.com.softvan.dao.entity.addres.TcAddres" alias="tcAddres"/>
		<!-- 课程_上课地点关联关系 entity -->
		<typeAlias type="cn.com.softvan.dao.entity.addres.TcCourseVsAddres" alias="tcCourseVsAddres"/>
		<!--=========== entity class====end======= -->
		<!--============= bean class==begin========= -->
		<!-- 课程地址 end -->
	</typeAliases>
	<!-- 插件 -->
	<plugins>
		<plugin interceptor="cn.com.softvan.dao.plugins.PagePlugin">
			<property name="dialect" value="mysql" />
			<property name="pageSqlId" value=".*IsPage.*" />
		</plugin>
	</plugins>
	<!-- xxx -->
	<mappers>
		<!-- 行政区划 begin -->
		<mapper resource="/cn/com/softvan/dao/mybatis/adi/area.xml"/>
		<!-- 行政区划 end -->
		<!-- 微信后台模块 begin-->
		<mapper resource="/cn/com/softvan/dao/mybatis/wechat/TcWxMenu.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/wechat/TcWxPublicUser.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/wechat/TcWxInfo.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/wechat/TcWxUser.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/wechat/TcWxUserGroups.xml"/>
		<!-- 微信后台模块 end-->		
		
		<!-- 用户信息 begin-->	
		<mapper resource="/cn/com/softvan/dao/mybatis/user/TcUaUmBaseRole.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/user/TcUaUmBaseUser.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/user/TcUaUmOperationLog.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/user/TcUaUmPermission.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/user/TcUaUmPermissionGroup.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/user/TcUaUmPermissionGroupRole.xml"/>
		<!-- 用户信息 end-->	
		
		<!-- 附件 begin -->
		<mapper resource="/cn/com/softvan/dao/mybatis/TcFile.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/TcFileLink.xml"/>
		<!-- 附件 end -->
		
		<!-- 系统管理模块 begin -->
		<mapper resource="/cn/com/softvan/dao/mybatis/sys/TcSysEmail.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/sys/TcSysSms.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/sys/TcSysVariable.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/sys/TcSysNews.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/sys/TcSysNewsType.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/sys/TcSysNewsVsType.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/sys/TcSysParter.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/sys/TcSysTelBook.xml"/>
		<!-- 系统管理模块 end -->
		
		<!-- 课程管理 begin -->
		<mapper resource="/cn/com/softvan/dao/mybatis/course/TcCourse.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/course/TcCourseSyllabus.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/course/TcCourseSyllabusItems.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/course/TcCourseBespeak.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/course/TcCourseSyllabusPhoto.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/course/TcCourseWebEnroll.xml"/>
		<!-- 课程管理 end -->
		<!-- 会员管理 begin -->
		<mapper resource="/cn/com/softvan/dao/mybatis/member/TcMember.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/member/TcMemberVsStudent.xml"/>
		<!-- 会员管理 end -->
		<!-- 学员管理 begin -->
		<mapper resource="/cn/com/softvan/dao/mybatis/student/TcStudent.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/student/TcStudentHobbyItems.xml"/>
		<!-- 学员管理 end -->
		<!-- 客服咨询 begin -->
		<mapper resource="/cn/com/softvan/dao/mybatis/consult/TcCsConsult.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/consult/TcCsConsultMsg.xml"/>
		<mapper resource="/cn/com/softvan/dao/mybatis/customerservice/TcCsCustomerService.xml"/>
		<!-- 客服咨询 end -->
		<!-- 评论管理 begin -->
		<mapper resource="/cn/com/softvan/dao/mybatis/comment/TcComment.xml"/>
		<!-- 评论管理 end -->
		<!-- ==========班级 xml=======begin====== -->
		<!-- 班级信息表 -->
		<mapper resource="/cn/com/softvan/dao/mybatis/classes/TcClasses.xml"/>
		<!-- 班级_学员关联表 -->
		<mapper resource="/cn/com/softvan/dao/mybatis/classes/TcClassesVsStudent.xml"/>
		<!-- ==========班级 xml=======end====== -->
		<!-- 课程地址 begin -->
		<!-- ==========mybatis xml=======begin====== -->
		<!-- 课程地址信息表 -->
		<mapper resource="/cn/com/softvan/dao/mybatis/addres/TcAddres.xml"/>
		<!-- 课程_上课地点关联关系 -->
		<mapper resource="/cn/com/softvan/dao/mybatis/addres/TcCourseVsAddres.xml"/>
		<!-- ==========mybatis xml=======end====== -->
		<!-- 课程地址 end -->
		<!-- ==========mybatis xml=======begin====== -->
		<!-- 课程与班级关联关系 -->
		<mapper resource="/cn/com/softvan/dao/mybatis/course/TcCourseVsClasses.xml"/>
		<!-- ==========mybatis xml=======end====== -->
	</mappers>
</configuration>